body{
    background-color: rgb(12, 11, 11);
}

.custom-text{
    color: #ff9000;
}



.btn-pesquisar {
    background-color: #ff9000;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    
    
}

.btn-pesquisar:hover {
    color: white;
}


